
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color : white;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    

}
nav h1{
    margin-top:10px ;
    font-weight: 300;
    font-size: 40px;
}

